{{!< default}}

{{> content-header}}

<section class="tag-info">
  <div class="content">

    {{#if tag.feature_image}}
      <figure class="kg-card kg-image-card kg-width-full">
      <img class="tag-info__image" src="{{tag.feature_image}}" alt="Image for {{tag.name}} tag" />
      </figure>
    {{/if}}

    <h1 class="tag capitalize">Tag: {{tag.name}}</h1>

  </div>
</section>

<main class="content">
{{> "loop"}}
</main>
