:root {
  --main-bg: rgb(250, 244, 236);
  /* --main-bg: rgb(255, 251, 245); */
  --main: rgb(47, 46, 43);
  --link: #2727d9;
  --link-bright: #980909;
  --muted: #afa598;
  --muted-2: #ccc;
  --muted-active: #fcfaf8;
  --dark-bg: #2a3644;
  --bright: #e5eff5;

  --border-radius: 5px;

  --h1-title: 2.625rem;
  --h1: 2.04rem;
  --h2: 1.625rem;
  --h3: 1.291rem;
  --h4: 1rem;
}

html { font-size: 1.5em; }

body {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  ext-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  line-height: 1.66rem;
  color: var(--main);
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

p, ul, ol, blockquote, pre, .alert, .note, .box, .footnotes {
	margin-bottom: 1.666rem;
}

a:link, a:visited {
  color: var(--link);
  text-decoration: none;
}
a:hover { text-decoration: underline; }

blockquote {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: oblique;
  font-size: 1rem;
  border-left: 6px solid var(--link-bright);
  padding: 0.2rem 2rem 0.25rem 1.5rem;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: auto;
}

figcaption {
  font-style: italic;
  font-size: smaller;
  text-align: center;
}

ul, ol {
  margin-left: 1.6rem;
}

li {
  margin-bottom: 0.625rem;
}

ul ul, ul ol, ol ul, ol ol, blockquote.right p, blockquote.left p, .alert :last-child, .note :last-child, .box :last-child, .footnotes :last-child {
	margin-bottom: 0;
}

/* main site navigation */
nav.site-nav ul { padding-inline-start: 0; margin-left: 0;  }
nav.site-nav ul li { list-style: none; display: inline; }
nav.site-nav ul li:after { content:" | "; color: var(--muted-2); }
nav.site-nav ul li:last-child:after { content: none; }
nav.site-nav a:link, nav.site-nav a:visited { color: var(--link-bright); }

pre {
  line-height: 1.2rem;
  color: var(--bright);
  max-width: 100%;
  padding: 0.75rem 1rem;
  background: var(--dark-bg);
  border-radius: var(--border-radius);
  border: none;
  overflow-x: auto;
}

pre code { padding: 0; }

li code, ul code, ol code, p code {
  background: #2a36441c;
  border-radius: var(--border-radius);
  padding: 0.09rem 0.30rem;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid var(--muted-2);
  margin: 1.5rem 0;
}

.content {
  max-width: 39rem;
  padding: 0 3rem 0 4rem;
  width: 100%;
  box-sizing: border-box;
}

.content-narrow {
  max-width: 35rem;
}

/* Typography */
/* ========== */
h1.title {
  font-size: var(--h1-title);
}

h1, .h1 {
  font-size: var(--h1);
  font-weight: 900;
  line-height: 3.1rem;
  letter-spacing: -0.03em;
  margin-bottom: 1.66rem;
}

h2, .h2 {
  font-size: var(--h2);
  line-height: 2.58rem;
  margin-top: 2.7rem;
  margin-bottom: 1rem;
}

h3, .h3 {
  font-size: var(--h3);
  line-height: 2.083rem;
  margin-top: 1.666rem;
  margin-bottom: 0.625rem;
}

h4, .h4 {
  font-size: var(--h4);
  line-height: 1.666rem;
  font-weight: bold;
  margin-bottom: 0.375rem;
}

h1 a:link, h1 a:visited, h1 a:hover, a.unstyled:link, a.unstyled:visited, a.unstyled:hover, h2 a:link, h2 a:visited, h2 a:hover, a.unstyled:link, a.unstyled:visited, a.unstyled:hover {
  color: inherit;
  text-decoration: none;
}

small, .small { font-size: 0.75rem; line-height: 1.333rem; }
.text-muted { color: var(--muted); }
.text-muted a, .text-muted a:visited { color: inherit; }

.main-header {
  padding-top: 1rem;
}

/* NOTES */
/* ===== */
article.tag-notes {
  background: #ffff88; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* IE10+ */
  background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding: 0.75rem 1.25rem;
  font-size: 0.85rem;
  line-height: 1.35rem;
  border-left: 5px solid #ffbc00;
  position: relative;
}

article.tag-notes:hover {
  background: #ffff88 !important;
}

article.tag-notes:hover:after {
  content: none;
}

article.tag-notes h1, article.tag-notes h2, article.tag-notes h3, article.tag-notes h4 {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

article.tag-notes p { margin-bottom: inherit; }

article.tag-notes:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #c9bcbc;
  -webkit-box-shadow: 0 15px 10px #c9bcbc;
  -moz-box-shadow: 0 15px 10px #c9bcbc;
  box-shadow: 0 15px 10px #c9bcbc;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

footer.site-footer {
  margin: 4rem 0 0 0;
  padding: 2rem 0;
  background-color: #f4e2b626;
  border-top: 1px solid #cbc3af;
}

h1.tag {
  border: 1px solid;
  padding: 3px 15px 5px 15px;
  border-radius: var(--border-radius);
  font-variant: small-caps;
  text-decoration: none;
  display: inline-block;
}

.tags a {
  border: 1px solid;
  padding: 0px 5px 3px 5px;
  border-radius: var(--border-radius);
  font-variant: small-caps;
  text-decoration: none;
}

/* .tags a.primary-tag { */
/*   background-color: var(--link-bright); */
/*   border: 1px solid var(--link-bright); */
/*   color: white; */
/* } */

.tags a:hover {
  background-color: var(--muted-active);
}

/* Utilities */
.mb1 { margin-bottom: 1rem; }
.mb2 { margin-bottom: 2rem; }
.mb3 { margin-bottom: 3rem; }
.mb4 { margin-bottom: 4rem; }
.mt2 { margin-top: 2rem; }
.mt3 { margin-top: 3rem; }
.mt4 { margin-top: 4rem; }
.ml1 { margin-left: 1rem; }
.mr1 { margin-right: 1rem; }
.inline-block { display: inline-block; }
.capitalize { text-transform: capitalize; }
.fancytitle {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: small;
}
.fancytitle:before,.fancytitle:after {
  content: '';
  border-top: 1px solid var(--muted-2);
  margin: 0 1.1rem 0 0;
  flex: 1 0 1.1rem;
}
.fancytitle:after {
  margin: 0 0 0 1.1rem;
}


/* IMAGE WIDTH STYLES */
/* ================== */

article img {
  display: block;
  max-width: 100%;
}

.kg-width-wide, kg-gallery-image {
  width: 80vw;
  min-width: 100%;
  max-width: 50rem;
}

.kg-width-full {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.kg-gallery-container {}
.kg-gallery-row {}

.kg-gallery-image {
  margin-bottom: 1rem;
}

/* BOOKMARK CARD */
/* ============= */
.kg-bookmark-card {
  width: 100%;
  background-color: var(--muted-active);
  padding: 0 !important;
  margin: 1.36rem auto!important;
}

a.kg-bookmark-container {
  color: inherit !important;
}

.kg-bookmark-container {
  display: flex;
  color: var(--primary-foreground-color);
  text-decoration: none !important;
  min-height: 148px;
  box-shadow: 0 1px 4px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.1);
  border-radius: var(--border-radius);
}

.kg-bookmark-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-start;
  padding: .8rem 1rem;
}

.kg-bookmark-title {
  font-weight: 600;
}

.kg-bookmark-description {
  font-size: small;
  line-height: 1rem;
  margin-top: 0.5rem;
  overflow-y: hidden;
}

.kg-bookmark-metadata {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: .9rem;
  font-weight: 400;
  margin-top: 0.6rem;
}

.kg-bookmark-icon {
  width: 1rem !important;
  height: 1rem !important;
  margin-right: 0.35rem !important;
}

.kg-bookmark-thumbnail {
  position: relative;
  min-width: 30%;
  max-height: 100%;
  overflow: hidden;
}

.kg-bookmark-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  object-fit: cover;
  -o-object-fit: cover;
}

.kg-bookmark-author {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.kg-bookmark-publisher {
  font-size: small;
  margin-left: 0.25rem;
}

.embeddable-buttondown-form input {
  font-size: 1rem;
  max-width: 100%;
  width: 12rem;
  padding: 3px 5px;
  background-color: #fdfaf5;
  border: 1px solid #ccc;
}

.embeddable-buttondown-form input[type="submit"] {
  width: auto;
  padding: 3px 12px;
}

@media (max-width: 936px) {
  html { font-size: 1.25em; }
  .content {padding: 0 1.25rem;}
}


@media (max-width: 720px) {
  html { font-size: 1em; }
  .content {padding: 0 1rem;}

  .tag-notes {
    font-size: 1rem;
    line-height: inherit;
  }
}
